.header {
  max-width: 1920px;
  padding: 0 1rem 0 1rem;
  position: sticky;
  /* position: absolute; */
  top: 1rem;
  left: 0;
  right: 0;
}

.nav-list {
  max-width: 1920px;
  /* display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.5rem;
  background-color: rgba(231, 218, 33, 0.8);
  border-radius: 10px;
  padding: 1rem;
  
}

.list-item {
  display: flex;
  justify-content: center;
  list-style: none;
  /* width: 12.5%; */
  /* border: 1px solid orange; */
}

.list-item:hover {
  /* text-decoration: underline; */
  
}

.nav-list-link {
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list-link:hover {
  color: white;
}

/* .nav-list-link:: */


