* {
  margin: 0;
  padding: 0;
}
.background {
  /* max-width: 1920px;
  height: auto; */
}
.wrapper {
  /* position: relative; */
  max-width: 1920px;
  height: 100%;
  margin: auto;
  background-image: url(../images/background/background_brick_wall.png);
  background-attachment: fixed;
  background-size: 35% 45%;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  
}

